[submodule "third_party/bgfx"]
	path = third_party/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "third_party/bx"]
	path = third_party/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "third_party/bimg"]
	path = third_party/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/raylib"]
	path = third_party/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "third_party/enet"]
	path = third_party/enet
	url = git@github.com:lsalzman/enet.git
